.tmp
.idea
*.log
*.db
.sh

.storage/
volumes/emby/
volumes/jackett/
volumes/sonarr/
volumes/qbittorrent/
volumes/immich/
.env
usersfile

acme.json
*.key
*.pem
*.mov

portainer.db
